div .anh{
   margin-top: 30px;
    max-width:900px;
    margin-left: 21%;
    padding: 10px;
    background-color: rgb(234, 181, 128);
    border-radius: 20px;
}
div h1{
    color: rgb(15, 13, 21);
    font-size: 50px;
}

div .anh-1{
    display: flex;
    margin: 30px;
     max-width:900px;
     margin-left: 21%;
     padding: 10px;
     background-color: rgb(234, 181, 128);
    
     border-radius: 20px;
 }
 div .anh-1 img{
    border-radius: 20px;
    padding: 10px;
    max-width:430px;
    margin-left: 5px;
   
 }
 div .big-img{
    background-color: rgb(202, 214, 214);
    padding: 20px;
 }